html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --basic-text-black: #000000;
  --secondary-text-gray: #a5a5a5;
  --basic-background-white: #ffffff;
  --basic-box-text-blue: #08a6e4;
  --basic-box-text-green: #55dfb4;
  --basic-box-text-red: #fb3b64;
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  z-index: 2;
}
header h1 {
  font-family: var(--secondary-font);
  color: var(--basic-box-text-blue);
  font-weight: 300;
  font-size: 32px;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 136px;
}

nav ul {
  height: 100%;
  display: flex;
  gap: 30px;
}

nav li {
  display: flex;
}

nav a {
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--secondary-text-gray);
  font-size: 11px;
  letter-spacing: 3.28px;
  padding: 0 10px;
  transition: 0.1s;
  display: flex;
  align-items: center;
}

nav a:hover {
  color: var(--basic-text-black);
  border-bottom: 4px solid var(--basic-box-text-blue);
}

.opening_page {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.container.opening {
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container.opening h2 {
  font-family: var(--secondary-font);
  font-size: 49px;
}

.container.opening p {
  font-size: 16px;
}

.container button {
  appearance: none;
  border: none;
  font-size: 16px;
  font-family: var(--main-font);
  background-color: var(--basic-box-text-blue);
  color: white;
  border-radius: 40px;
  padding: 15px 150px;
  box-shadow: 5px 10px 14px #07ace629;
  cursor: pointer;
}

.statistics_page {
  margin: 100px 0;
}

.container.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}

.container.statistics h3 {
  font-size: 36px;
  font-family: var(--secondary-font);
}

.round_wrapper {
  width: 75%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 35%;
}

.round {
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
}

.round1 {
  background-color: var(--basic-box-text-red);
}

.round2 {
  background-color: var(--basic-box-text-blue);
}

.round3 {
  background-color: var(--basic-box-text-green);
}

.sales_articles {
  width: 75%;
  display: flex;
  justify-content: space-around;
  font-family: var(--secondary-font);
  text-align: center;
}

.sales_articles h4 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5.96px;
}

.sales_articles p {
  font-size: 17px;
  color: var(--secondary-text-gray);
}

.statistics article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 140px;
  position: relative;
  z-index: 1;
}

.sales_articles img {
  width: 45px;
  height: 50px;
  align-self: flex-end;
  margin-right: 28px;
}

.benefits_page {
  width: 100%;
  max-height: 1395px;
  background-color: #f7f7f7;
  padding: 100px 250px;
}

.container.benefits {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.container.benefits h4 {
  font-family: var(--secondary-font);
  font-size: 36px;
  text-align: left;
}

.container.benefits img {
  width: 300px;
  position: absolute;
}

.benefit1 img {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.benefit2 img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_wrapper {
  width: 50%;
  height: 300px;
  position: relative;
}

.container.benefits article {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-background-white);
  border-radius: 5px;
}

.content_wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 90px 30px;
}

.benefit1 .content_wrapper::after {
  width: 327px;
  content: "";
  border-bottom: 4px solid var(--basic-box-text-red);
  padding-top: 40px;
}

.benefit2 .content_wrapper::after {
  width: 327px;
  content: "";
  border-bottom: 4px solid var(--basic-box-text-blue);
  padding-top: 40px;
}

.benefit3 .content_wrapper::after {
  width: 327px;
  content: "";
  border-bottom: 4px solid var(--basic-box-text-green);
  padding-top: 40px;
}

.rectangle {
  width: 150px;
  height: 150px;
  background-color: var(--basic-box-text-red);
  border-radius: 41px;
  position: absolute;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  right: 25%;
  top: 20%;
  z-index: 0;
}

.circle {
  width: 220px;
  height: 220px;
  background-color: var(--basic-box-text-blue);
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 28%;
}

.benefit3 {
  width: 60%;
}

.benefit3 .content_wrapper {
  width: 100%;
}

.benefit3 .img_wrapper {
  width: 35%;
  height: calc();
  position: absolute;
  background-color: var(--basic-box-text-green);
  left: 65%;
  border-radius: 5px;
}

.benefit3 .img_wrapper img {
  position: absolute;
  top: 25%;
  left: 20%;
}
