html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --basic-text-black: #000000;
  --secondary-text-gray: #a5a5a5;
  --basic-background-white: #ffffff;
  --basic-box-text-blue: #08a6e4;
  --basic-box-text-green: #55dfb4;
  --basic-box-text-red: #fb3b64;
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}
